.allowed-content--left {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.allowed-content--right {
    flex-basis: 60%;
}

.allowed-input {
    border-bottom: 3px solid transparent;
    &:focus {
        border-bottom: 3px solid var(--gold-color);
    }
}

.input-group {
    margin-top: 3rem;
    display: flex;
    align-items: stretch;
}

.allowed-overview {
    height: 70rem;
    background-color: var(--secondary-color);
}

#error-container {
    text-align: left;
    font-size: 2rem;
    color: #e01414;
    font-weight: 500;
}

.car--deleteBtn {
    font-size: 2rem;
}

.car--addBtn {
    margin-left: 2.5rem;
}

@media screen and (max-width: 1000px) {
    .allowed-content {
        flex-direction: column;
    }

    .allowed-content--right {
        flex-basis: 0;
    }
}
