.allowed-content--left {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.allowed-content--right {
    flex-basis: 60%;
}

.form-input {
    font: inherit;
    border: none;
    width: 40rem;
    padding: 1rem;
    font-size: 2.5rem;
    background-color: var(--tertiary-color);
    border-radius: 2px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 0.8rem 2.4rem;
    transition: all 0.2s;
    border-bottom: 3px solid transparent;
    &:focus {
        outline: none;
        border-bottom: 3px solid #e2aa1d;
    }
}

.input-group {
    margin-top: 3rem;
    display: flex;
    align-items: stretch;
}

.allowed-overview {
    height: 70rem;
    background-color: var(--secondary-color);
}

.allowed-overview-item {
    font-size: 3rem;
    color: var(--font-color-gray);
    border-bottom: 1px solid var(--light-gray-color);
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:not(:last-child) {
        margin-bottom: 2.5rem;
    }
}

.delete-btn {
    background-color: var(--deleteBtn-color);
    color: var(--font-color-white);
    font-size: 2rem;

    &:hover {
        background-color: var(--deleteBtn-color-hover);
    }
}

.submit-btn {
    background-color: var(--submitBtn-color);
    color: var(--font-color-white);
    margin-left: 2.5rem;

    &:hover {
        background-color: var(--submitBtn-color-hover);
    }
}

@media screen and (max-width: 1000px) {
    .allowed-content {
        flex-direction: column;
    }

    .allowed-content--right {
        flex-basis: 0;
    }
}
