.heading-main {
    font-size: 4rem;
    letter-spacing: 0.45rem;
    margin-bottom: 1.5rem;
    font-weight: 800;
}

.heading-tertiary {
    font-size: 3.2rem;
    letter-spacing: 0.5rem;
    margin-bottom: 1.5rem;
    font-weight: 300;
}

.btn {
    border: none;
    font: inherit;
    border-radius: 3px;
    font-size: 2.3rem;
    padding: 1rem;
    cursor: pointer;
    transition: all 0.3s;
}

.overview {
    height: 60rem;
    border-radius: 3px;
    padding: 3rem;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.main-content {
    display: flex;
    justify-content: space-between;
    gap: 10rem;
}
