.main-content-left {
    flex-basis: 60%;
}

.main-content-right {
    flex-grow: 1;
}

.parkingSlotsOverview {
    background-color: var(--tertiary-color);
}

.parkedCarsOverview {
    background-color: var(--secondary-color);
}

.index-overview-item {
    font-size: 4rem;
}

.occupied {
    color: #ce6139;
}

.free {
    color: #178b17;
}

@media screen and (max-width: 900px) {
    .main-content {
        flex-direction: column;
    }

    .main-content-left {
        flex-basis: 0;
    }
}
