.content-left {
    flex-basis: 60%;
}

.sensors-overview {
    background-color: var(--secondary-color);
    position: relative;
}

.sensors-overview-item {
    gap: 6rem;
}

.sensor-name {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    gap: 3rem;
}

.sensor-name-input {
    width: 30rem;
    border-bottom: 3px solid transparent;

    &:focus {
        border-bottom: 3px solid var(--gold-color);
    }
}

.content-right {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.selection {
    margin-bottom: 1rem;
    width: 90%;
    background-color: #5aa4ffee;
}

.selection-option {
    background-color: var(--tertiary-color);
}

#error-container {
    font-size: 2rem;
    color: #e01414;
    font-weight: 500;
    margin-right: 4.5rem;
}

.heading-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 1200px) {
    .settings-content {
        flex-direction: column;
    }

    .content-right {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 5rem;
    }

    .modes {
        flex-basis: 48%;
    }

    .parkingHouses {
        flex-basis: 48%;
    }

    .selection {
        width: 100%;
    }
}

@media screen and (max-width: 620px) {
    .sensors-overview-item {
        font-size: 2.6rem;
        gap: 3rem;
    }

    .content-right {
        flex-direction: column;
        align-items: normal;
        gap: 8rem;
    }

    .modes {
        flex-basis: 100%;
    }

    .parkingHouses {
        flex-basis: 100%;
    }

    .sensor-name-input {
        width: 25rem;
    }
}